.nav {
	font-size: 12px;
}

.tram-row {
	padding: 8px;
	margin: 4px;
}

#hirschi_to_city .tram-row-1, 
#hirschi_to_city .tram-row0, 
#hirschi_to_city .tram-row1, 
#hirschi_to_city .tram-row2,
#hirschi_to_city .tram-row3,
#city_to_hirschi .tram-row-1, 
#city_to_hirschi .tram-row0, 
#city_to_hirschi .tram-row1, 
#city_to_hirschi .tram-row2,
#city_to_hirschi .tram-row3 {
	background-color: rgba(255, 128, 128, 0.7);
}

#hirschi_to_city .tram-row4,
#city_to_hirschi .tram-row4 {
	background-color: rgba(255, 255, 0, 0.7);
}

#hirschi_to_city .tram-row5,
#city_to_hirschi .tram-row5 {
	background-color: rgba(0, 255, 0, 0.6);
}

.destination {
	line-height: 72px;
	height: 72px;
	font-size: 20px;
	position: relative;
	padding: 0;
}

.destination .number {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 48px;
	font-weight: bold;
	border: 1px solid black;
	color: white;
	width: 72px;
	height: 72px;
	text-align: center;
}

.destination .station {
	margin-left: 84px;
}

.number-14 {
	background-color: #008dc5;
	padding-right: 4px;
}

.number-10 {
	background-color: #e12472;
	padding-right: 4px;
}

.number-9 {
	background-color: #11296f;
}

.number-7 {
	background-color: black;
}

.number-72 {
	background-color: #c6a693;
}

.time {
	line-height: 72px;
}

.time div {
	font-size: 48px;
	font-weight: bold;
	float: right;
}

.time img {
	display: none;
}

.time0 img,
.time-1 img,
.time-2 img {
	display: inline;
	position: relative;
	right: -6px;
}

.time0 div,
.time-1 div,
.time-2 div {
	display: none;
}

.departure {
	line-height: 72px;
	font-size: 28px;
}
