<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <preference name="phonegap-version" value="3.1.0" />

    <name>TramBoard</name>

    <description>
        Awesome Stuff !
    </description>

    <author href="http://github.com/fterrier" email="fterrier@gmail.com">
        François Terrier
    </author>

    <gap:platform name="android" />

</widget>