<tabs current-view="{{viewId}}" mode="edit"></tabs>

<div class="row settings">

  <div class="col-sm-12">
    <form name="newViewForm">

      <h4 ng-show="view.id">Edit view {{view.name}}</h4>
      <h4 ng-show="!view.id">Add a new view</h4>

      <div class="form-group">
        <label for="viewName">Name</label>
        <input id="viewName" ng-model="view.name" type="text" class="form-control" placeholder="View name (displayed in the tab)" required></input>
      </div>

      <div class="form-group">
        <label for="viewStation">Station</label>
        <input id="viewStation" ng-model="view.station" type="text" class="form-control" placeholder="Station name (start typing to get suggestions)" typeahead="station as station.name for station in getStations($viewValue) | filter:$viewValue" typeahead-loading="loadingStations" required></input>
        <i ng-show="loadingStations" class="glyphicon glyphicon-refresh"></i>
      </div>

      <div class="form-group">
        <label for="viewKeywords">Keywords</label>
        <input id="viewKeywords" ng-model="view.keywords" type="text" class="form-control" placeholder="Comma-separated list of keywords, used to filter the connections."></input>
      </div>

      <button ng-click="save()" ng-disabled="newViewForm.$invalid" class="btn btn-primary">Save</button>
      <button ng-click="delete()" ng-show="view.id" class="btn btn-danger">Delete</button>

    </form>
  </div>

</div>
